#intro {
  margin: 2.75rem 0 1.75rem 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.00rem;
  line-height: 1;
  span {
    font-size: 1.25rem;
    color: #23272a;
  }
}

a {
  text-decoration: none;
  color: #333233;
  &:hover {
  color: #67D2C3;
  }
}

#posts {
  .post {
    background: #ffffff;
    width: 30%;
    float: left;
    margin: 1rem 1.5%;
    border: 1px solid #67D2C3;
    border-radius: 0.3rem;
    .post_image {
      height: 100px;
      overflow: hidden;
      img {
        width: 100%;
        border-radius: .3rem .3rem 0 0;
      }
    }
    .post_content {
      h2 {
        margin: 0;
        font-weight: 100;
        padding: 1rem 5%;
        border-bottom: 1px solid #ffffff;
        font-size: 1.25rem;
      }
      .data {
        padding: .75rem 5%;
        color: #333233;
        .username, .buttons {
          margin: 0;
          font-size: 2.0rem;
        }
        .username {
          float: left;
        }
        .buttons {
          float: right;
          span {
            margin-left: .5rem;
          }
        }
      }
    }
  }
}
